<!-- stubbing -->
<div class="text-center">
    <span>{{brand.name}}:</span>
    <div style="display: inline;">
        <span><a href="{{brand.supportLink}}">Support</a></span>
        <span><a href="{{brand.contactLink}}">Contact</a></span>
    </div>
    <span>Social Icons Stub</span>
</div>

{{osf-copyright class='text-center'}}