$theme-color-light: #67A3BF;
$theme-color-dark: #166596;
$preprint-title: #D2D2D2;
$preprint-title-hover: #D5E6ED;
$gradient-percentage: 15%;
$nav-bar-height: 25px;
$brand-background: url('img/preprints-logo.png');
$header-background: #214661 url('img/preprints-bg.jpg');
$nav-hover-color: #65a0b9;
$browse-color: #337AB7;



/* Footer */
$footer-shadow-color: #fff;
$footer-border-color: #e5e5e5;
$footer-color: #555;

/* Navbar */
$navbar-background-color: #578CA2;
$navbar-shadow-color: #525151;
$navbar-link-color: #fff;
$navbar-toggle-color: #eee;

/* Index */

/** Header */
$header-link-color: #80c2f7;
$header-border-color: #ddd;
$header-color: #fff;

/** */
$subjects-background-color: #f1f3f2;
$subjects-border-color: #6d8a98;
