@import 'bootstrap';
@import 'ember-power-select';
@import 'base';
@import 'variables';
@import 'authors';
@import 'validated-input';
@import 'hint';

/* Override styles from ember-osf and osf */
.footer {
    margin-top: 0;
    text-shadow: 0 1px 0 $footer-shadow-color;
    border-top: 1px solid $footer-shadow-color;
    border-bottom: 1px solid $footer-shadow-color;
    width: 100%;
    color: $footer-color;
}

.footer ul, .footer li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* GLOBAL to PREPRINTS, these may be used in multiple pages */
.pointer {
    cursor: pointer;
}
body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.btn-wrap {
    white-space: normal;
}
ul.comma-list {
    display: inline;
    list-style: none;
    padding-left: 0;
    li {
        display: inline;
    }
    li:after {
        content: ", "
    }
    li:last-child:after {
        content: "";
    }
}
.subject-preview {
    display: inline-block;
    background-color: #f8f8f8;
    border-radius: 3px;
    border: 1px solid #eee;
    padding: 1px 7px;
    margin-bottom: 4px;
}

@import 'preprint-navbar';
@import 'index';
@import 'discover';
@import 'content';
@import 'submit';
@import 'page-not-found';
@import 'supplementary-file-browser';


/* Usefulness of the portions of code below is doubtful, mixed with critical and unused. TODO: Go through and clean up unused code */


.no-transition {
    transition: none !important;
}

#browse {
    .read-more-toggle-custom {
        color: $browse-color;
        &:hover {
            color: $browse-color;
        }
        &:visited {
            color: $browse-color;
        }
    }
}

// FOR FORMS ON THE PREPRINTS AND ADD-PREPRINTS PAGE


hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 1px;
}

#right_panel {
    margin-right: 20px;
}

//.prereg-button {
//    text-align:center;
//    cursor: pointer;
//}

.active-custom {
    background-color: $theme-color-dark;
    color: white;
}

.cp-Panel.cp-is-closed .cp-Panel-body {
    height: 0;
    overflow: hidden;
}



// TODO move this to ember-osf
.file-browser {
    a {
        cursor: pointer;
    }

    .breadcrumb {
        margin-bottom: 0;
    }

    .file-browser-list {
        position: relative;
        height: 200px;
    }

    .file-browser-item {
        height: 30px;
        padding: 3px 3px 3px 25px;
    }

    .file-browser-item:hover {
        background-color: #E0EBF3; /* $color-hover; */
    }

    .file-browser-icon {
        width: 3em;
        display: inline-block;
        cursor: pointer;
        text-align: right;
    }

    .selected {
        background-color: #337AB7; /* $color-select; */
    }
}

#selectedFileExisting {
    margin: 5px;
    padding: 5px;
}

#convertExistingOrCreateComponent {
    padding-left: 15px;
}

.toast {
    opacity: 1 !important;
}

.authors-search-button {
    height: 34px;
}

.taxonomy-show-children {
    margin-right: 2px;
}

.exclamation-confirm-convert {
    font-size: 250%;
    color: $theme-color-light;
}

.toggle-button {
    overflow: hidden;

    input {
        display: none;
    }
    label {
        float: left;
        display: inline-block;
        width: 55px;
        background-color: #e4e4e4;
        color: #666666;
        text-align: center;
        text-shadow: none;
        padding: 7px 7px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition:    all .3s ease-in-out;
        -ms-transition:     all .3s ease-in-out;
        -o-transition:      all .3s ease-in-out;
        transition:         all .3s ease-in-out;
    }

    label.choose-large {
        background-color: white;
        font-size: 14px;
        padding: 10px 10px;
        height: 120px;
        text-align: center;
        width: 200px;
        display: inline;
        border: none;
        box-shadow: none;

        i {
            font-size: 70px;
        }
    }

    label.wide-text-only {
        float: none;
        margin-right: -4px;
        padding: 10px 10px;
        height: 75px;
        font-size: 14px;
        width: 250px;
        border-right: 1px solid #ccc;
        i {
            font-size: 30px;
        }
    }
    label.wide-text-only:last-of-type {
        border-right: none;
    }

    label:hover {
        cursor: pointer;
        color: gray;
    }

    input:checked + label {
        background-color: $theme-color-light;
        color: white;
    }

    label:first-of-type {
        border-radius: 4px 0 0 4px;
    }

    label:last-of-type {
        border-radius: 0 4px 4px 0;
    }

    label i {
        font-size: 25px;
        display: block;
    }
}

//label.title-label {
//    font-weight: normal;
//}
