/* SEARCH page */
/* Global to search */

/* Header panel */
.preprint-search-header {
    padding-top: 120px;
    background: #e0ebef url('img/search-bg.jpg') top center;
    background-size: cover;
    .share-logo {
        width: 46px;
        height: 22px;
        background-image: url("img/share-logo-icon.png");
        display: inline-block;
        background-size: contain;
        vertical-align: middle;
    }
}
.preprint-search-main {
    background-color: #fbfbfb;
    border-bottom: 1px solid #dedede;
    .filter-heading {
        background-color: #efefef;
    }
    label {
        font-weight: normal;
    }
    .preprint-search-sidebar ul {
        padding-left: 25px;
        li {
            list-style: none;
        }
    }
    .search-result {
        margin-bottom: 10px;
        word-wrap: break-word;
        word-break: break-word;
        overflow-wrap: break-word;
        box-shadow : 0 1px 2px #ddd;
        border: none;
        h4 {
            font-weight: normal;
        }
    }
}

.preprint-filter {
    margin: 2px;
    padding: 0px 6px;
    line-height: 30px;
    border-radius: 2px;
    display: inline-block;
}
.provider-filter {
    background-color: #578ca2;
    color: #eeeeee;
}
.subject-filter {
    background-color: #d7e6e9;
    .fa {
        color: #777777;
    }
}
.search-result-providers {
    font-weight: bold;
}
ul.preprints-block-list {
    display: block;
    list-style: none;
    padding-left: 0;
}
