/* Preprint navbar */
.preprint-navbar {
    position: fixed;
    top: 51px;
    width: 100%;
    padding: 0;
    background: $navbar-background-color;
    z-index: 99;
    box-shadow: 0 0 4px $navbar-shadow-color;
    border-radius: 0;
    a {
        color: $navbar-link-color;
    }
    .nav > li > a:hover, .nav > li > a.active, .navbar-brand:hover {
        background-color: $nav-hover-color;
    }
    .nav > li > a:focus:not(.active) {
        background-color: transparent;
    }
    .navbar-brand a {
        text-decoration: none;
    }
    .navbar-brand a:hover {
        text-decoration: none;
    }
    .navbar-toggle {
        color: $navbar-toggle-color;
    }
}

.navbar-image {
    float: left;
    clear: both;
    text-align: center;
    background: top center no-repeat;
    background-size: contain;
    height: 50px;
    min-width: 120px;
    display: block;
    transform: translateY(-12px);
}

/* This should be a temporary adjustment */
@media (max-width: 768px) {
    .preprint-navbar {
        top: 50px;
    }
}
