{{main-view model=model brand=brand}}

{{!ADVISORY GROUP}}
<div class="preprint-advisory p-v-md">
    <div class="container">
        <div class="row">
            {{model.advisory_board}}
        </div>
    </div>
</div>